
*{
	margin:0px;
	padding:0px;
}
.sidebar{
	background-color: #273469;
	color:white;
	grid-row: 1 / span 2;

}
.grid{
	display:grid;
}
.container{
	grid-template-columns: 1fr 5fr;
	grid-template-rows: 1fr 6fr;
}
li{
	list-style: none;
}
main{
	background-color: gainsboro;
}